# Игнорируем локальные файлы конфигурации и миграции
migrations/
.env
docker-compose.override.yml

# Игнорируем данные контейнеров (если не нужно хранить в репозитории)
data/
volumes/

# Логи и кэш
logs/all.log
*.cache
*.tmp
